<body class="home-body">
	<div class="container">
		<div class="row">
			<h1 class="opening-soon"><strong>OPENING SPRING 2017</strong></h1>
		</div>
		<div class="row">
		<div class="links">
		<ul>
			<li class="ig"><a href="https://www.instagram.com/overundermiami">Instagram</li></a>
			<li><a href="https://www.facebook.com/overundermiami">Facebook</a></li>
		</ul>
		</div>
		</div>
	</div>
</body>