<body class="home-body">
	<div class="container-fluid">
		<div class="row">
			<h1 class="opening-soon">OPENING SPRING 2017</h1>
		</div>
		<div class="row">
		<img src="/assets/overunder.png" class="img-thumbnail josepic">
		</div>
		<div class="row">
			<div class="links">
				<ul>
					<li class="ig">
						<a href="https://www.instagram.com/overundermiami">Instagram</a>
					</li>
					<li>
						<a href="https://www.facebook.com/overundermiami">Facebook</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>