/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1{
	margin-bottom: 0px;
	text-shadow: 2px 2px #000000;
}
a{
	color: #f1e9d2;
}
.img-thumbnail{
	border: 1px solid black;
	background: #f1e9d2;
}

.home-body{
	width: 100%;
	/*height: auto;*/
	background-color: #535F74;
	background-repeat: no-repeat;
}

.opening-soon{
	color: #f1e9d2;
	font-family: 'PT Mono', monospace;
}

.links{
	color: #f1e9d2;
	font-family: 'PT Mono', monospace;
	font-size: 25px;
	text-shadow: 2px 2px #000000;
}

ul{
	list-style-type: none;
    display: inline-flex;
    float: right;
    /*margin-right: 270px;*/
}
.ig{
	margin-right: 12px;
}
